@model getfitEF.Models.UplataIsplata

@{
    ViewBag.Title = "Delete";
}
@{
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}
<br />
<br />
<br />
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UplataIsplata</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SifGodina.Sifra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SifGodina.Sifra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SifMjesec.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SifMjesec.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uplata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uplata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isplata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isplata)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
